@font-face {
    font-family: cuerpo;
    src: url(Courier\ Prime\ Code.ttf);
  }
  body{
    background: #000;
    font-family: cuerpo;
    padding: 0;
    margin: 0; 
  }

  #index{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  #index h1{
    color: white;
    width: 100%;
    margin-bottom: 20px;
  }
  #index a{
    width: 200px;
    display: block;
    margin: 0;
    margin-bottom: 10px;
  }
  #index a:hover{
    background: #dfff00;
  }

  header{
    position: fixed;
    background: white;
    color: black;
    width: 100%;
    top: 0px;
  }
  header div{
    margin: -5px 5px 5px 5px;
  }
  h1{
    color: #000;
    display: inline-block;
    margin: 5px;
    width: 40%;
  }
  #counter{
    color: #000;
    margin-top: 0px;
    display: inline-block;
    font-size: 14px;
    width: 50%;
  }
  .goBack{
    padding: 5px 10px;
    margin: 0px !important;
    font-size: 12px;
    text-decoration: none;
  }
  button{
    padding: 5px 10px;  
    font-family: cuerpo;
    margin: 0px !important;
    color: #000000;  
    display: inline-block;
    border: none;
    cursor: pointer;
    margin-left: 20px !important;
    float: right;
  }
  #randomize  {background: #ffa600;}
  #save       {background: #f000ff;}
  #clear      {background: #666666;}
  ul{
    padding: 0;
    margin-bottom: 30px;
  }
  p{
    margin-bottom: 5px;
  }
  p, li{
      color:#fff;
    }
  li{
    cursor: pointer;
	  list-style: lower-alpha;
	  margin-left: 40px;
  }
  a{
    color: #000000;
    background: #9ee76a;
    padding: 10px;
    margin: 10px;
    display: inline-block;
  }
  .txarto{
    color: #F00;
    font-weight: bold;
  }
  .ondo{
    color: #0F0;
    font-weight: bold;
  }
  .data{
    display:block;
    margin: 90px 5px 5px 5px;
  }
  
  

